body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.headers{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3rem;    
}

.logo{
    margin: 75px auto 150px 95px;
}

.middle-container
{
    text-align: center;
    margin-bottom: 200px;
}

.middle-container-registration
{
    margin-top: 200px;
}

.explanatory{
    width: 53%;
    color: hsl(208,11%,55%);
    margin: 30px auto 90px;
    line-height: 1.5;
}

.text-input
{
    border-radius: 10px;
    height: 80px;
    width: 480px;
    border-style: none;
    box-shadow: 0px 0px 4px rgb(230, 230, 230);
    margin-right: 20px;
    padding-left: 20px;
    font-size: 20px;
}

.button-input{
    border-radius: 10px;
    height: 80px;
    width: 260px;
    margin-left: 20px;
    color: #ffffff;
    background-image: linear-gradient(to bottom,rgb(245,142,187),rgb(223,124,181));
    /*background: rgb(255,135,191); */
    border-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.button-input:hover{
    background-image: linear-gradient(to bottom,rgb(252,150,196),rgb(226,139,189));
}

::placeholder{   
    color:rgb(215,216,218)
}

.bottom-container{
    background-color: rgb(0,37,46);
    position: relative;
}

.social-icon
{
    width: 8%;
    height: 8%;
    padding: 5px;
}

.auto-info{
    color:white;
    font-size: 20px;
    padding-left: 30px;
}

#copy-right{
    color:white;
    font-size: 12px;
}

#bottom-logo-container{
    display: inline-block;
    margin: 100px 80px 40px 120px;
}

#bottom-auto-info-container{
    display: inline-block;   
    position: absolute; 
    right: 100px;
    top: 100px;
}

#bottom-social-icons-container{
    display: inline-block;
    margin: 0px 80px 20px 120px;
}

#bottom-copy-right-container{
    display: inline-block;
    position: absolute;
    right: 100px;
    top: 200px;
}

/*.butn {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 25px;
    background: #a8006a;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .butn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }*/






