body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.headers{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3rem;    
}

.logo{
    margin: 75px auto 150px 95px;
}

.middle-container
{
    text-align: center;
}

.explanatory{
    width: 53%;
    color: hsl(208,11%,55%);
    margin: 30px auto 90px;
    line-height: 1.5;
}

.text-input
{
    border-radius: 10px;
    height: 30px;
    border-style: none;
    box-shadow: 0px 0px 5px grey;
}






